<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="cache-control" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="MS Digital agency" />
    <meta name="allow-search" content="yes">
    <meta name="robots" content="all">
    <meta name="robots" content="index,follow">
    <meta name="robots" content="noindex,follow">
    <meta name="robots" content="none">
    <meta name="googlebot" content="index,follow">
    <meta name="revisit-after" content="1 day">
    <meta name="rating" content="General">
    <meta name="audience" content="All">
    <meta name="page-type" content="html page and it is the home page of {domain_name}">
    <meta name="page-topic" content="covers brief history of {domain_name}">
    <meta name="MSSmartTagsPreventParsing" content="TRUE">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="keyphrase" content="">
    <meta name="abstract" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <!-- css stylesheets -->
    @*@Styles.Render("~/Content/layoutcss/")*@
    <link rel="stylesheet" href="~/content/css/bootstrap.css" />
    <link rel="stylesheet" href="~/content/css/social-buttons-3.css" />
    <link rel="stylesheet" href="~/content/css/style.min.css" />
    <link rel="stylesheet" href="~/content/css/searchbox.css" />

    <style type="text/css">
        .user_icon_box img{
            width: 52px;
        }
    </style>

    <!-- add javascripts -->
    @*@Scripts.Render("~/bundles/layout")*@
    <script type="text/javascript" src="~/scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/scripts/nhpup_1.1.js"></script>
    <script type="text/javascript" src="~/scripts/product/startNewDiscussionLoginCheck.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.form.min.js"></script>

    @*@Scripts.Render("~/bundles/application")*@
    <script type="text/javascript" src="~/scripts/application.js"></script>
    <script type="text/javascript" src="~/scripts/makeAjaxRequest.js"></script>

    @*@Scripts.Render("~/bundles/bootstrapgrowlmaster")*@
    <script type="text/javascript" src="~/scripts/bootstrapgrowlmaster/bootstrap-growl.js"></script>

    @if (User.Identity.IsAuthenticated)
    {
        <script>
            var userAuthorized = true;
        </script>
    }
    else
    {
        <script>
            var userAuthorized = false;
        </script>
    }
    <script>
        if (userAuthorized) {
        }
        else {
            $(document).ready(function () {
                starNewDiscussion.starNewDiscussionLoginCheck();
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#forgotpassword-link').click(function () {
                $('#login-form-div').hide();
                $('#forgotpassword-div').show();
            });
            $("#SearchString").autocomplete({ source: "/Home/Suggest" });
            app.initialize();
            app.initializeLogin();
        });
        config = {
            contextPath: '@Url.Content("~")'
        };
    </script>
    <script>
        $(document).ready(function () {
            forgotPassword.initialize();
        });
    </script>

    <!-- Jquery For search -->
    <script>
        $('#search_form').keydown(function () {
            if (event.keyCode == 13) {
                // As ASCII code for ENTER key is "13"
                $('#search_form').submit(); // Submit form code
            }
        });
    </script>
    <!-------------->




</head>

<body>
    <!-- [if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif] -->
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation" id="navbar-fixed-top-1">
        <div class="container">
            <div class="navbar-collapse collapse" id="b-menu-1">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" title="My Account" id="login-link">
                            <img src="~/Content/images/profile-icon.png" />
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu sign_in">
                            <li><a href="@Url.Action("UserProfile", "Users")">My Account</a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                        @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </li>
                    }
                    else
                    {
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" title="Login" id="login-link">Login</a>
                        <ul class="dropdown-menu sign_in">
                            <li id="loginHint" class="alert alert-success" style="display:none;margin: 0px 0px 10px 0px;padding: 5px 5px 5px 5px;width: 95%;">Please login to start new discussion</li>
                            <li id="loginCartHint" class="alert alert-success" style="display:none;margin: 0px 0px 10px 0px;padding: 5px 5px 5px 5px;width: 95%;">Please login for add to cart</li>
                            <li id="loginViewCartHint" class="alert alert-success" style="display:none;margin: 0px 0px 10px 0px;padding: 5px 5px 5px 5px;width: 95%;">Please login to view cart</li>

                            <li>
                                <form method="post" asp-antiforgery="true">
                                    @*<button asp-action="ExternalLogin" asp-controller="Account" asp-route-provider="Google" type="submit" class="btn btn-google-plus" title="Login using Google"><i class="fa fa-google-plus"></i></button>
                                    <button asp-action="ExternalLogin" asp-controller="Account" asp-route-provider="Facebook" type="submit" class="btn btn-facebook" title="Login using Facebook"><i class="fa fa-facebook"></i></button>*@
                                    <button asp-action="ExternalLogin" asp-controller="Account" asp-route-provider="Twitter" type="submit" class="btn btn-twitter" title="Login using Twitter"><i class="fa fa-twitter"></i></button>
                                    @*<button asp-action="ExternalLogin" asp-controller="Account" asp-route-provider="Microsoft" type="submit" class="btn btn-stackexchange" title="Login using Microsoft Account"><i class="fa fa-windows"></i></button>*@
                                </form>
                            </li>

                            <li role="presentation" class="divider"></li>
                            <li>
                                <div class="container-fluid" id="login-form-div">
                                    <form asp-action="Login" asp-controller="Account" method="post" class="form-horizontal" role="form" id="login-form" asp-antiforgery="true" novalidate="novalidate">
                                        <div class="form-group">
                                            <div class="col-sm-10"><input type="email" class="form-control" name="Email" id="Email" placeholder="Email" value=""></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10"><input type="password" class="form-control" name="Password" id="Password" placeholder="Password" value=""></div>
                                            <input type="hidden" id="RememberMe" name="RememberMe" value="false"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Login</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <span id="forgotpassword-link">Forgot Password</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="container-fluid" id="forgotpassword-div">
                                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "forgotpassword-form", novalidate = "novalidate" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <span>Forgotten your account's password? Enter your email address and we'll send you a recovery link.</span>
                                        <div class="form-group">
                                            <div class="col-sm-10"><input type="email" class="form-control" name="forgotEmail" id="forgotEmail" placeholder="Email" value=""></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Send Recovery Email</button>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <!-- <a href="@Url.Action("Register", "Account")" title="Sign Up">Sign Up</a> -->
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" title="Sign Up">Sign Up</a>
                        <ul class="dropdown-menu" id="signup-dropdown-menu">
                            <li>
                                <form method="post" asp-antiforgery="true">
                                    <button asp-action="Register" asp-controller="Account" formmethod="get" type="submit" class="btn btn-stackexchange" title="Sign up using Email"><i class="fa fa-stackexchange">Register your Account</i></button>
                                    @*<button asp-action="ExternalLogin" asp-controller="Account" asp-route-provider="Google" type="submit" class="btn btn-google-plus" title="Login using Google"><i class="fa fa-google-plus"></i></button>
                                    <button asp-action="ExternalLogin" asp-controller="Account" asp-route-provider="Facebook" type="submit" class="btn btn-facebook" title="Login using Facebook"><i class="fa fa-facebook"></i></button>*@
                                    <button asp-action="ExternalLogin" asp-controller="Account" asp-route-provider="Twitter" type="submit" class="btn btn-twitter" title="Login using Twitter"><i class="fa fa-twitter"></i></button>
                                    @*<button asp-action="ExternalLogin" asp-controller="Account" asp-route-provider="Microsoft" type="submit" class="btn btn-stackexchange" title="Login using Microsoft Account"><i class="fa fa-windows"></i></button>*@
                                </form>
                            </li>
                        </ul>
                    </li>
                    }
                </ul>
                <a href="@Url.Action("ViewCart", "Product")" class="viewCart">
                    <span class="glyphicon glyphicon-shopping-cart" data-unicode="e116"></span>
                </a>
            </div>
        </div>
    </div>

    <!-- fixed navigation bar -->
    <div class="navbar navbar-default navbar-fixed-top" id="navbar-fixed-top-2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#b-menu-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="main-logo" class="navbar-brand logo" href="@Url.Content("~/")" title="Demo - Digital Agency Web Site Sample" tabindex="1" data-link="1"></a>
            </div>

            <div id="searchBox">
                <form action=@Url.Action("SearchResult", "Home") role="form" method="get" id="search_form">
                    <ul class="nav navbar-nav main_menu">
                        <li><input type="text" class="col-lg-12" placeholder="search" id="SearchString" name="searchString" /></li>
                    </ul>
                </form>
                @*<form action=@Url.Action("Index", "Product") role="form" method="post" id="search_form">
                    <ul class="nav navbar-nav main_menu">
                        <li><input type="text" class="col-lg-12" placeholder="search" id="SearchString" name="SearchString" /></li>
                    </ul>
                </form>*@
            </div>

            <div class="collapse navbar-collapse" id="b-menu-2">
                <ul class="nav navbar-nav main_menu">
                    <li><a title="Home" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a class="@(ViewBag.SelectedMenu == "Community" ? "active":"")" title="Community" href="@Url.Action("Index", "Community")">Community</a></li>
                    <li id="align-product"><a class=@(ViewBag.SelectedMenu == "Product" ? "active":"") title="Product" href="@Url.Action("Index", "Product")">Products</a></li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.navbar -->
    <!-- main container -->
    <div class="container" id="article-container">
        @if (ViewBag.GoodMessage != null)
        {
            <div class="row" id="flashdata" style="display: block;">
                <div class="col-lg-12">
                    <div class="alert alert-success">@ViewBag.GoodMessage</div>
                </div>
            </div>
        }
        @if (ViewBag.BadMessage != null)
        {
            <div class="row" id="flashdata" style="display: block;">
                <div class="col-lg-12">
                    <div class="alert alert-danger">@ViewBag.BadMessage</div>
                </div>
            </div>
        }
        @RenderBody()
        <footer class="footer">
            <div class="row" id="footer-row">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <span>Contact Us</span>
                        <ul>
                            <li>One Microsoft Way</li>
                            <li>Redmond, WA 98052-6399</li>
                            <li>123-456-7890</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <span>Quick Links</span>
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")" title="Home">Home</a></li>
                            <li><a class="@(ViewBag.SelectedMenu == "Community" ? "active":"")" title="Community" href="@Url.Action("Index", "Community")">Community</a></li>
                            <li><a class=@(ViewBag.SelectedMenu == "Product" ? "active":"") title="Product" href="@Url.Action("Index", "Product")">Product</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">&nbsp;</div>
                </div>
            </div>
            <div class="row"><div class="col-sm-12 copyright"><span>2017 &copy Contoso All Rights Reserved</span></div></div>
        </footer>
    </div><!--/.container-->
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>