@model Online.Store.Website.Models.PagedCommunityViewModel
<table class="table">
    @{
        if (Model.Community.Count() > 0)
        {

            foreach (var item in Model.Community)
            {
                <tr class="row dis_list_box_row">
                    <td class="col-sm-3 user_icon_box">
                        <span class="dis_user_name" title="@item.UserName">@item.UserName</span>
                        @if (!string.IsNullOrEmpty(item.UserImageName))
                        {
                            <img class="media-object" alt="@item.UserName" src="@item.UserImageName" style="width:64px;">
                        }
                        else
                        {
                            <img class="media-object" alt="Venkatesan" src="~/Content/images/default_profile_2_normal.png">
                        }
                        <span class="postRespAndDate">Post's: @item.No_of_Posts</span>
                    </td>
                    <td class="col-sm-9 all-posts" id="post-@item.id">
                        <h5><a href="@Url.Action("View", "Community", new { id=item.id })" class="dis_list_title" title="">@item.PostTitle</a></h5>
                        <p>@item.PostContent</p>
                        <p class="postRespAndDate">
                            Date: @item.PostDate
                        </p>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="row dis_list_box_row">
                <td class="col-sm-12 user_icon_box">
                    <span class="dis_user_name">No record found</span>
                </td>
            </tr>
        }
    }
</table>

<div class="row paginationAndPostButton">
    <div class="span3 pull-left"><a href="@Url.Action("NewDiscussion", "Community")" class="btn btn-primary" id="login-to-post" style="margin-left:15px;">Start New Discussion</a></div>
    <div class="span6 pull-right" id="disc-list-view">
        @{
            if (Model.TotalPages > 0)
            {
                var selectedPage = Model.SelectedPage;
                var pageCount = Model.TotalPages;

                <ul class="pagination">
                    @if (selectedPage > 0)
                    {
                        <li><a href="#" pageid="@(selectedPage-1)" class="pageID" title="Previous">&lt;&lt;</a></li>
                    }

                    @for (var i = 0; i < pageCount; i++)
                    {
                        if (i == selectedPage)
                        {
                            <li class="active"><a href="#" pageid="@i" class="pageID">@(i + 1)</a></li>
                        }
                        else
                        {
                            <li><a href="#" pageid="@i" class="pageID">@(i + 1)</a></li>
                        }
                    }
                    @if (pageCount > selectedPage + 1)
                    {
                        <li><a href="#" pageid="@(selectedPage + 1)" class="pageID" title="Next">&gt;&gt;</a></li>
                    }

                </ul>
            }
        }
    </div>
</div>