@model Online.Store.Website.Models.CommunityResponseViewModel
           @{
               if (Model.Community.Response != null && Model.Community.Response.Any())
               {
                   foreach (var response in Model.Community.Response)
                   {
                       //Html.RenderPartial("_ResponseView", response);
                    <div class="row dis_list_box_row">
                        <div class="col-sm-12 user_icon_box" id="discussion-responses">
                            <div id="responses-11691" class="content responses">
                                <div class="col-sm-3">
                                    <span class="dis_user_name">@response.UserName</span>
                                    @if (string.IsNullOrEmpty(response.UserImageName))
                                    {
                                        <img class="media-object" alt="@response.UserName" src="~/Content/images/default_profile_2_normal.png">
                                    }
                                    else
                                    {
                                        <img class="media-object" alt="@response.UserName" src="@response.UserImageName">
                                    }
                                </div>
                                <div class="col-sm-9">
                                    <div class="content">@response.PostContent</div>
                                    <p class="postRespAndDate">
                                        Date: @response.PostDate.ToString("dd") <sup>th</sup> @response.PostDate.ToString("MMMM") @response.PostDate.Year
                                    </p>
                                    <div align="center">
                                        @if (!string.IsNullOrEmpty(response.ContentUrl))
                                        {
                                            if (response.ContentType.Contains("video"))
                                            {
                                                <video height="180" width="320" data-dashjs-player autoplay id="videoplayer" controls src="@response.ContentUrl"></video>
                                            }
                                            else
                                            {
                                                <a target="_blank" href=@Url.Action("ShowCommunityResponse", new { id = @response.ParentId, responseId = @response.id }) class="media_popup_parent" data-media-width="520" data-media-height="125" data-media-path="@response.ContentUrl" data-media-type="image" data-media-description="@response.MediaDescription">
                                                    <img class="img-thumbnail media-object" width="150" style="float:left !important;" alt="" src="@response.ContentUrl">
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   }
               }
        }
<div class="row">
    <div id="resp-list-view" class="span6 pull-right">
        @{
            if (Model.TotalPages > 0)
            {
                var selectedPage = Model.SelectedPage;
                var pageCount = Model.TotalPages;

                <ul class="pagination">
                    @if (selectedPage > 0)
                    {
                        <li><a href="#" pageid="@(selectedPage-1)" class="pageID" title="Previous">&lt;&lt;</a></li>
                    }

                    @for (var i = 0; i < pageCount; i++)
                    {
                        if (i == selectedPage)
                        {
                            <li class="active"><a href="#" pageid="@i" class="pageID">@(i + 1)</a></li>
                        }
                        else
                        {
                            <li><a href="#" pageid="@i" class="pageID">@(i + 1)</a></li>
                        }
                    }
                    @if (pageCount > selectedPage + 1)
                    {
                        <li><a href="#" pageid="@(selectedPage + 1)" class="pageID" title="Next">&gt;&gt;</a></li>
                    }

                </ul>
            }
        }
    </div>
    @*<div id="resp-list-view" class="span6 pull-right"></div>*@
</div>





