@model Online.Store.Website.Models.CommunityResponseViewModel
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Scripts.Render("~/bundles/imagepreview")*@
<script type="text/javascript" src="~/scripts/imagePreview.js"></script>

@*@Scripts.Render("~/bundles/community")*@
<script type="text/javascript" src="~/scripts/community/community.js"></script>
<script type="text/javascript" src="~/scripts/community/posts.js"></script>
<script type="text/javascript" src="~/scripts/community/viewcommunity.js"></script>

<script type="text/javascript">
    // wait for the DOM to be loaded
    $(document).ready(function () {
        imagePreview.attachImagePreviewToImages();
        viewCommunity.initialize();

        $("#chooseMediaFile").click(function () {
            $("#mediaFile").trigger("click")
        });
    });
</script>
<link href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
<script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js"></script>

<div class="container-fluid" id="innerpage-banner">
    <img class="img-responsive" alt="" src="~/content/images/innerpage-banner.jpg">
</div>
<div class="container-fluid">
    <div class="row" id="main-content-container-fluid-first-row">
        <div class="col-lg-8">
            <div class="col-sm-12 no_padding">
                <div class="row community_title_panel">
                    <div class="community-icon"></div>
                    <div class="community_title_caption">Responses</div>
                    <div class="span5 pull-right community_title_panel_filter">
                        <label for="filter" style="font-weight: normal;">Filter</label>
                        @{
                            if (ViewBag.Selected == "all" || ViewBag.Selected == null)
                            {
                                <select name="filter" id="filter">
                                    <option value="all" selected="selected">All</option>
                                    <option value="image">Image</option>
                                    <option value="video">Video</option>
                                </select>
                            }
                            else if (ViewBag.Selected == "image")
                            {
                                <select name="filter" id="filter">
                                    <option value="all">All</option>
                                    <option value="image" selected="selected">Image</option>
                                    <option value="video">Video</option>
                                </select>
                            }
                            else if (ViewBag.Selected == "video")
                            {
                                <select name="filter" id="filter">
                                    <option value="all">All</option>
                                    <option value="image">Image</option>
                                    <option value="video" selected="selected">Video</option>
                                </select>
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- End col-sm-12 -->

            <div id="resp-content" class="col-sm-12 background_white dis_list_box">
                @{
                    if (Model.Community != null)
                    {
                        <input type="hidden" id="communityId" value="@Model.Community.id" />

                        <div class="row dis_list_box_row">
                            <div class="col-sm-2 user_icon_box">
                                <span class="dis_user_name" title="@Model.Community.UserName">@Model.Community.UserName</span>
                                @if (string.IsNullOrEmpty(Model.Community.UserImageName))
                                {
                                    <img class="media-object" alt="@Model.Community.UserName" src="~/Content/images/default_profile_2_normal.png">
                                }
                                else
                                {
                                    <img class="media-object" alt="@Model.Community.UserName" src="@Model.Community.UserImageName">
                                }
                                <span class="postRespAndDate">Post's: @Model.Community.No_of_Posts</span>
                            </div>

                            <div class="col-sm-10 discussion_section">
                                <div id="discussion">
                                    <h5 class="header">
                                        <a class="dis_list_title" href="#" title="good skateboard video">@Model.Community.PostTitle</a>
                                    </h5>
                                    <div class="content">@Model.Community.PostContent</div>
                                    <p class="postRespAndDate">
                                        Replies: @Model.Community.No_of_Posts&nbsp;&nbsp;|&nbsp;&nbsp;Date: @Model.Community.PostDate.ToString("dd") <sup>th</sup> @Model.Community.PostDate.ToString("MMMM") @Model.Community.PostDate.Year
                                    </p>
                                    <div align="center">
                                        @if (!string.IsNullOrEmpty(Model.Community.ContentUrl))
                                        {
                                            if (Model.Community.ContentType.Contains("video"))
                                            {
                                                <video id="vid1" class="azuremediaplayer amp-default-skin" autoplay controls width="512" height="320" poster="poster.jpg" data-setup='{"nativeControlsForTouch": false}'>
                                                    <source src="@Model.Community.ContentUrl" type="application/vnd.ms-sstr+xml" />
                                                    <p class="amp-no-js">
                                                        To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
                                                    </p>
                                                </video>
                                            }
                                            else
                                            {

                                                <a target="_blank" href=@Url.Action("ShowCommunityMedia", new { id = @Model.Community.id }) class="media_popup_parent" data-media-width="520" data-media-height="125" data-media-path="@Model.Community.ContentUrl" data-media-type="image" data-media-description="@Model.Community.MediaDescription">
                                                    <img class="img-thumbnail media-object" width="150" style="float:left !important;" alt="" src="@Model.Community.ContentUrl">
                                                </a>
                                                @*<img class="media-object" width="90%;" alt="Venkatesan" src="@Model.ContentUrl">*@
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                     <div id="status_msg" class="alert" style="display:none;"></div>
                    <div id="disc-response" class="col-sm-12 background_white dis_list_box">
                        @{
                        Html.RenderPartial("_ResponseView", Model);
                        }
                    </div>
                    }
                }
            </div>

            <style>
                #resp-content {
                    border-bottom: 0px;
                }
            </style>
            <div id="resp-reply" class="col-sm-12 background_white dis_list_box">
                <div class="row dis_list_box_row">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div id="dicussion-reply">
                            <form action="@Url.Action("Reponse", "Community")" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="form-horizontal discussion_form" id="discussion-response-form-upload" novalidate="novalidate">
                                <input type="hidden" id="postId" name="PostId" value="@Model.Community.id">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <h5>Your Responses</h5>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="content" class="col-sm-2 control-label">Message:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="Content" id="content" placeholder="Content"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mediaFile" class="col-sm-2 control-label">Attachment:</label>
                                    <div style="position: relative;">
                                        <a class="btn btn-primary chooseMediaFile" id="chooseMediaFile" href="javascript:;">Choose File...</a>
                                        <input type="file" class="mediaFile" id="mediaFile" name="mediaFile">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10"><span class="label label-info" id="uploadFileInfo"></span></div>
                                </div>
                                <div class="form-group" id="media-description-form-group" style="display: none;">
                                    <label for="mediaDescription" class="col-sm-2 control-label">Description:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="MediaDescription" id="mediaDescription" placeholder="Description" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div id="progress" class="progress progress-striped active" style="display: none;">
                                        <div class="bar" id="progress-bar" style="width: 0%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="col-sm-offset-2 col-sm-10">
                                <div id="status-msg" class="alert">

                                </div>
                            </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="span4 pull-left"><button id="login-to-post-response" class="btn btn-primary">Login to Post response</button></div>
                            <div class="span6 pull-right" id="resp-list-view" style="padding-top:15px;"><a href="javascript:;" title="Login to see more responses" id="login-to-responses">Login to see more responses</a></div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            @{
                Html.RenderPartial("_TwitterView");
            }
            @{
                Html.RenderPartial("_TopFiveUsersView");
            }
        </div>
    </div>
</div>
<script type="text/javascript" src="~/lib/dash-js/dist/dash.all.min.js"></script>
